body{
    background-color: black;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blanchedalmond;
}

table{
    color: blanchedalmond;
    bo
}
body{
    color: black;
}
ul{
    color: blanchedalmond;
}
tr{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}